@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --Light_Cyan: hsl(193, 38%, 86%);
  --Neon_Green: hsl(150, 100%, 66%);
  --Grayish_Blue: hsl(217, 19%, 38%);
  --Dark_Grayish_Blue: hsl(217, 19%, 24%);
  --Dark_Blue: hsl(218, 23%, 16%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  background-color: var(--Dark_Blue);
  padding: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
